
<nav fxLayout="row wrap" fxLayoutAlign="start">
  <div *ngIf="user$" fxLayoutAlign="start" fxFlex>
    <button color="primary" mat-fab mat-flat-button routerLink="aggiungi" *ngIf="admin">+</button>
    <button color="primary" mat-fab routerLink="viaggi">
      <span class="material-symbols-outlined">
      list
      </span>
    </button>  
    <button *ngIf="admin" routerLink="users" mat-fab mat-flat-button>
      <span class="material-symbols-outlined">
        person
      </span>
    </button>
</div>
  <div fxLayoutAlign="space-between center" fxFlexAlign="end center" fxFlex="40">
    <span>{{user}}</span>
    <button *ngIf="!user" color="primary" mat-fab (click)="login()">
      <span class="material-symbols-outlined">
      login
      </span>
    </button>
    <button *ngIf="user$" (click)="logout()" mat-fab>
      <span class="material-symbols-outlined">
        logout
      </span>
    </button>
  
  </div>
</nav>
<main *ngIf="user$">
  <router-outlet></router-outlet>
</main>
